doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 404 Not Found
  style.
    .notfound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .errorNumber{
    font-size: 178px;
    color: #F35454;
    font-family: SF Pro Display;
    text-align: center;
    margin-bottom: 20px;
    }
    .errorMessage{
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: SF Pro Display;
    }
    .backLink{
    text-decoration: none;
    text-align: center;
    color: grey;
    font-size: 70px;
    font-family: SF Pro Display;
    margin-top: 20px;
    }
    .backLink:active{
    text-decoration: none;
    }
    body{
    margin: 0;
    }
.notfound
  h1.errorNumber 404
  h1.errorMessage
    | Page
    br
    | Not Found
  a.backLink(href='/')
    | &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy;
    br
    | &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ucy;&yucy;
