.modalWin.active,
.overlay.active{
   display: block;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
    transition: .3s all;
 }
.modalWin {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.493);
}

.modalWindow {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    width: 395px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;
}

.modalWin-enter-weight {
    padding-top: 200px;
    display: block;
}

.modalWindow-enter-weight {
    width: 798px;
    height: 428px;
}



@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modalHeader__text{
    text-align: center;
    padding-top:40px;
    font-family:SF Pro Display;
    font-size: 45px;
    margin-bottom: 29px;
    font-weight: 400;
}



/*
.modalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

/* .modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */

/* .modalHeader {

} */

/* Styles for registration modal window */


.modalWinReg {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.493);
}

.modalWindowReg {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    width: 395px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.modalHeader__textReg{
    text-align: center;
    padding-top:40px;
    font-family:SF Pro Display;
    font-size: 45px;
    margin-bottom: 29px;
    font-weight: 400;
}
