*{
  margin-left: auto;
}
p{margin: 0;padding: 0;}
.logoName{
    top:30px;
    color:rgb(0, 0, 0);
    font-family:SF Pro Display Heavy;
    font-size: 32px;
    margin-left: 45px;
}
.header-div{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.left-side-menu{
    display: flex;
    float: right;
    align-items: center;
    margin-left: auto;
}
.middle-acc-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.line-acc-circle{
    border-color: #707070;
    width: 25%;
    border: 1px;
}

.menu-acc{
    margin-right: 30px;
}
.acc-circle{
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background-color:#F23838;
    opacity: 0.86;

}
.m-for-head-lines-circle{
    margin-left:50px;
    margin-right: 50px;
}
.signOut-div{
    margin-right: 45px;
}
.userName{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
.userName-text{
    font-size: 77px;
    color: #2E2E33;
    font-family: Montserrat;
    font-weight: 900;
}

/* Тот самый класс  */
/* /////////////////// */

.active-switcher-style{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 250px;
    height: 44px;
}



.switcher{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Далее шрифт */

    font-family:SF Pro Display Heavy;
    font-weight: 100;
    font-size: 25px;
    color: #2E2A2A;
    opacity: 0.86;
    margin-top: 17px;
}

/* отступ друг от друга */
.statistics{
    margin-left: 113px;

}
.gradient-div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: -webkit-linear-gradient(45deg, rgb(0, 34, 221) 6%, rgb(84, 243, 145) 51%, rgb(0, 34, 221) 100%);
    background: -moz-linear-gradient(45deg, rgb(0, 34, 221) 6%, rgb(84, 243, 145) 51%, rgb(0, 34, 221) 100%);
    background: linear-gradient(45deg, rgb(0, 34, 221) 6%, rgb(84, 243, 145) 51%, rgb(0, 34, 221) 100%);
    width: 912px;
    height: 285px;
    border-radius: 15px;
}
.gradient-div-text{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.2;
    color: white;
    margin-left:41px;
}
.input-label-form{
    border:2px solid #464646;
    border-radius:15px;
    width: 363px;
    height: 285px;
    padding-left: 30px;
    font-size: 130px;
}
.centered-div-inputs{
    justify-content: center;
    display: flex;
    padding-top:85px ;
}
